<div class="row">
    <div class="col-12">
        <div class="filter-container isotopeFilters">
            <ul class="list-inline filter">
                <li [ngClass]="{'active': customizer == 'all' }"><a (click)="openGallery('all')">Tous </a></li>
                <li [ngClass]="{'active': customizer == 'fashion' }"><a (click)="openGallery('fashion')">DEV</a>
                </li>
                <li [ngClass]="{'active': customizer == 'bags' }"><a (click)="openGallery('bags')">IOT & IAM</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="isotopeContainer row">
    <ng-container *ngIf="customizer=='all'">
        <figure class="my-app-custom-image-with-desc p-width" *ngFor="let img of allImages">
            <div class="isotopeSelector shoes fashion ">
                <div class="overlay">
                    <div class="border-portfolio">
                        <div class="overlay-background">
                            <i class="fa fa-plus" aria-hidden="true" (click)="openImageModalRowDescription(img)"></i>
                        </div>
                        <img [src]="img.modal.img" />
                    </div>
                </div>
            </div>
        </figure>
    </ng-container>
    <ng-container *ngIf="customizer=='fashion'">
        <app-fashion class="w-100"></app-fashion>
    </ng-container>
    <ng-container *ngIf="customizer=='bags'">
        <app-bags class="w-100"></app-bags>
    </ng-container>
    <ks-modal-gallery [id]="1" [modalImages]="allImages" [plainGalleryConfig]="customPlainGalleryRowDescConfig"
        [buttonsConfig]="buttonsConfigCustom">
    </ks-modal-gallery>
</div>

