<section class="resume header" id="header">
  <div class="header7-content">
      <div class="resume bg bg-pink"  [ngStyle]="{}">
          <div class="container">
              <div class="row">
                  <div class="col-lg-5 col-md-6">
                      <img src="assets/images/resume/pp2.jpg" alt="" class="img-fluid set-abs bottom-0 right-0">
                  </div>
                  <div class="col-lg-6 col-md-6 offset-lg-1">
                      <div class="center-text">
                          <div>
                              <div class="header-sub-text">
                                  <h5 class="text-hash text-uppercase"># résumé</h5>
                              </div>
                              <div class="header-text">
                                  <h1><span class="bold-text">Hey, Je suis</span><br> Lemuel Donto</h1>
                              </div>
                              <div class="header-sub-text">
                                  <h4 class="font-secondary"><i style=" margin-right: 5px" class="fa fa-child" aria-hidden="true"></i>21 Ans <span><i style="margin-left: 30px; margin-right: 5px" class="fa fa-university" aria-hidden="true"></i> Master 2 <i style="margin-left: 30px; margin-right: 5px" class="fa fa-map-marker" aria-hidden="true"></i> Sophia Antipolis
                                    </span></h4>
                              </div>

                              <div class="header-sub-text">
                                  <p class="font-secondary font-large">Actuellement Etudiant en Cycle Ingénieur Sciences Informatiques Spécialité
                                  Interfaces Homme Machine (IHM) à Polytech Nice Sophia.
                                  </p>
                              </div>
                              <div class="header-sub-text">
                                  <p class="font-secondary font-large"><b> Poste Actuel :</b><span> Assistant Ingénieur Systèmes et Réseaux</span>
                                  </p>
                                  <p class="font-secondary font-large"><b> Entreprise :</b><span> Laboratoire I3S/CNRS</span>
                                  </p>

                              </div>
                              <div class="link-horizontal">
                                  <ul>
                                      <li><a class="btn btn-default primary-btn back-white">Contacts</a></li>
                                      <li><a class="btn btn-default primary-btn back-white">Télécharger CV</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--header end-->
